<mat-toolbar class="app-toolbar">
  <div class="toolbar-brand">
    <mat-icon class="brand-icon">route</mat-icon>
    <div class="brand-copy">
      <span class="brand-name">JourneyMap Builder</span>
      <span class="brand-subtitle">Service Design Studio</span>
    </div>
  </div>

  <div class="toolbar-center">
    <div class="toolbar-group">
      <button
        mat-icon-button
        [disabled]="!canUndo()"
        (click)="undo()"
        matTooltip="Undo (Ctrl+Z)"
      >
        <mat-icon>undo</mat-icon>
      </button>
      <button
        mat-icon-button
        [disabled]="!canRedo()"
        (click)="redo()"
        matTooltip="Redo (Ctrl+Shift+Z)"
      >
        <mat-icon>redo</mat-icon>
      </button>
    </div>
  </div>

  <div class="toolbar-actions">
    <button
      mat-icon-button
      (click)="onImportJson()"
      matTooltip="Import JSON"
    >
      <mat-icon class="material-icons-outlined">folder_open</mat-icon>
    </button>

    <button
      mat-icon-button
      (click)="onExportJson()"
      matTooltip="Save as JSON"
    >
      <mat-icon class="material-icons-outlined">save_alt</mat-icon>
    </button>

    <div class="toolbar-divider"></div>

    <button
      mat-flat-button
      color="primary"
      [matMenuTriggerFor]="exportMenu"
      class="export-btn"
    >
      <mat-icon>download</mat-icon>
      <span class="export-label">Export</span>
    </button>

    <mat-menu #exportMenu="matMenu">
      <button mat-menu-item (click)="onExportPdf()">
        <mat-icon>picture_as_pdf</mat-icon>
        <span>Export as PDF</span>
      </button>
      <button mat-menu-item (click)="onExportPng()">
        <mat-icon>image</mat-icon>
        <span>Export as PNG</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
